* {
    margin: 0px;
}
.wrapper {
    padding: 30px;
    margin-top: 30px;
    background-color: gray;
}
.baris-1 {
    background-color: red;
}
.baris-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.baris-3 {
    background-color: green;
}
.baris-4 {
    background-color: blue;
}
.baris-5 {
    background-color: gold;
}
.baris-2-kolom-1, .baris-2-kolom-2, .baris-2-kolom-3, .baris-2-kolom-4, .baris-2-kolom-5 {
    height: 30px;
    width: 20%;
    background-color: aqua;
}
img {
    width: 30px;
}